In [2]:
import os
from dotenv import load_dotenv
from openai import OpenAI
import pandas as pd

load_dotenv()

api = os.getenv("API_KEY")

client = OpenAI(
    api_key=api,
    base_url="https://api.naga.ac/v1"
    )

def generate(prompt, model="gpt-3.5-turbo"):
    response = client.chat.completions.create(
        model=model,
        messages=[
            {
                "role": "user",
                "content": prompt,
            },
        ],
    )

    return response.choices[0].message.content

In [12]:
prompt = ("Buatkan SQL query untuk menghitung jumlah_terjual untuk masing-masing jenis_tanaman setiap bulan dengan kolom tanggal_pembelian pada tabel penjualan. Berikan SQL Queries nya saja")

QUERY_SQL = generate(prompt)
print(QUERY_SQL)

SELECT jenis_tanaman, MONTH(tanggal_pembelian) AS bulan, SUM(jumlah_terjual) AS total_terjual
FROM penjualan
GROUP BY jenis_tanaman, MONTH(tanggal_pembelian);